.menu {

    background: black;
    border: 1px solid red;
    height: 2rem;
    width: 2rem;
}

a {

    position: relative;
}

.menu-box {

    height: 10vw;
    width: 7.5vw;
}

.menu-box button {

    height: 33%;
}